/go/ver.txt
/go/update_bin.lock
/git/ver.txt
/git/update.lock
/vim/ver.txt
/vim/update.lock
/watchman/ver.txt
/watchman/update.lock
/shadowsocks/ver.txt
/shadowsocks/update.lock
/nodejs/ver.txt
/nodejs/update.lock
/gitflow/gitflow/
