/go/ver.txt
/go/update-bin.lock
/git/ver.txt
/git/update.lock
/vim/ver.txt
/vim/update.lock
/nvim/ver.txt
/nvim/release.json
/mysql/source.list
/watchman/ver.txt
/watchman/update.lock
/shadowsocks/ver.txt
/shadowsocks/ver-obfs.txt
/shadowsocks/update.lock
/imagemagick/ver.txt
/imagemagick/update.lock
/nodejs/ver.txt
/nodejs/ver/
/nodejs/update.lock
/nodejs/update-ver.lock
/nodejs/update-bin.lock
/openssl/ver.txt
/openssl/update.lock
/gitflow/gitflow/

*.deb
